
footer{
    height: 70px;
    background-color: black;

    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        text-align: center;
        color: white;
    }
}
