.products{
height: 600px;

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 50px;



.boxFour, .boxFive, .boxSix, img{
width: 300px;
height: 300px;
}


}
}