* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

@font-face {
    font-family:GillsBold ;
    src: url(../css/fonts/GillSansBold.otf);
}

@font-face {
    font-family:PTBold ;
    src: url(../css/fonts/PTSerif-Bold.ttf);
}
@font-face {
    font-family:PTReg;
    src: url(../css/fonts/PTSerif-Regular.ttf);
}